# Dependency directories
node_modules/

# Debug log from npm
npm-debug.log*

# Environment variables
.env

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Mac OS system files
.DS_Store

# Windows system files
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Build output
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional: Uncomment if you're using TypeScript
# *.tsbuildinfo
